.order-section {
    background-color: #00BAFC;

    .order-section-wrapper {
        padding: 56px 0 64px 0;

        .order-title-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .order-title {
                color: rgb(255, 255, 255);
                font-family: Open Sans700;
                font-size: 24px;
                font-weight: 700;
                line-height: 130%;
                margin-bottom: 16px;
            }

            .order-text {
                width: 719px;
                color: rgb(255, 255, 255);
                font-family: Open Sans400;
                font-size: 16px;
                font-weight: 400;
                line-height: 150%;
                text-align: center;
                margin-bottom: 16px;
            }
        }

        .order-form {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            width: 348px;
            height: 304px;
            padding: 24px;
            border-radius: 5px;
            background: rgb(255, 255, 255);

            label {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .input-name,
                .input-tel,
                .input-service-type {
                    width: 300px;
                    padding: 16px;
                    height: 56px;
                    border: none;
                    border-radius: 5px;
                    background: rgb(243, 243, 243);
                    color: rgb(0, 0, 0);
                    font-family: Open Sans400;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                }

                .form-order-btn {
                    margin: 0 auto;
                    padding: 8px 16px;
                    width: 182px;
                    color: rgb(255, 255, 255);
                    font-family: Open Sans700;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    border-radius: 5px;
                    background: rgb(0, 186, 252);
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background-color: #00aeed;
                    }

                    &:active {
                        color: #e5f8ff;
                    }
                }
            }
        }
    }
}